{% extends 'base.html' %}
{% block title %}Not Found!{% endblock %}
{% block content %}
  <div class="bold center" style="min-height: 400px;">
    <h3 style="padding-top: 50px;">Not Found!</h3>
    <p>That page does not exist.</p>
  </div>
{% endblock %}
