{% extends 'base.html' %}
{% block title %}Categories{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">Categories</h3>
    {% for c in categories %}
      {% include "category_snippet.html" with category=c %}
    {% endfor %}
    {% include 'paginate.html' %}
  </div>
{% endblock %}
