<div>
  <h3 class="bold">{{ item.title }}</h3>
</div>
<div>
  {# <a class="bold" href="{% url 'blog:by_year' item.date_added|date:'Y' %}">{{ item.date_added|date:'Y' }}</a>-<a class="bold" href="{% url 'blog:by_month' item.date_added|date:'Y' item.date_added|date:'m' %}">{{ item.date_added|date:"m" }}</a>-<a class="bold" href="{% url 'blog:by_day' item.date_added|date:'Y' item.date_added|date:'m' item.date_added|date:'d' %}">{{ item.date_added|date:"d" }}</a> | by <span class="bold">{{ item.author.first_name }} {{ item.author.last_name }}</span> #}
  <span class="bold">{{ item.date_added|date:'Y' }}-{{ item.date_added|date:'m' }}-{{ item.date_added|date:'d' }}</span> | by <span class="bold">{{ item.author.first_name }} {{ item.author.last_name }}</span>
  {% if item.category  %}under <a class="bold" href="{% url 'blog:category_detail' item.category.slug %}">{{ item.category }}</a>{% endif %}
</div>
{% if item.tags and item.tags.count > 0 %}
  <div>
    <a href="{% url 'blog:tag_cloud' %}">Tag{{ item.tags.all|pluralize }}</a>: {% for t in item.tags.all %}<a href="{{ t.get_absolute_url }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
  </div>
{% endif %}
<div class="entry-body">
  {% if item.excerpt %}
    <div>
      {{ item.excerpt|safe }}
    </div>
  {% endif %}
  <div>
    {{ item.body|safe }}
  </div>
</div>
