{% extends 'base.html' %}
{% block title %}{{ month|date:'M, Y' }}{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">{{ month|date:'M, Y' }}</h3>
    {% for e in entries_by_month %}
      {% include "item_snippet.html" with item=e %}
    {% endfor %}
  </div>
  {% include "paginate.html" %}
{% endblock %}
