{% extends 'base.html' %}
{% block title %}Asciinema Clips{% endblock %}
{% block content %}
  <div>
    <h3>Asciinema Clips</h3>
  </div>
  {% if live_asciinema %}
    {% for a in live_asciinema %}
      <div>
        <h5 class="bold"><a href="{% url 'media:detail' a.slug %}">{{ a.title }}</a></h5>
        <div>Posted on {{ a.date_added|date:'Y' }}-{{ a.date_added|date:"m" }}-{{ a.date_added|date:"d" }}</div>
        <p>{{ a.description|safe }}</p>
      </div>
      {% if not forloop.last %}
        <div class="center small-divider"></div>
      {% endif %}
    {% endfor %}
  {% else %}
    <h5 class="center">Coming soon..</h5>
    <p class="img"><img class="center" src="/i/soon.jpg" /></p>
  {% endif %}
  {% include 'paginate.html' %}
{% endblock %}
