{% extends 'base.html' %}
{% block title %}Images{% endblock %}
{% block content %}
  <div class="center">
    <h3>Images</h3>
    <p>Images of gameplay and various mods featured here.</p>
  </div>

  <div style="padding-bottom: 100px;">
    {% for i in images %}
    <div>
      <div style="clear: left;">
        <a style="padding-bottom: 30px; float: left; padding-right: 10px;" href="{% url 'media:detail' i.slug %}">{{ i.media_link_300200|safe }}</a>
        <h5 class="bold"><a href="{% url 'media:detail' i.slug %}">{{ i.title }}</a></h5>
        <div>Posted on {{ i.date_added|date:'Y' }}-{{ i.date_added|date:"m" }}-{{ i.date_added|date:"d" }}</div>
        <p>{{ i.description|safe }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include 'paginate.html' %}
{% endblock %}
