{% extends 'base.html' %}
{% block title %}Modding-OpenMW.com Podcast{% endblock %}
{% block content %}
  <div class="center">
    <h3>Modding-OpenMW.com Podcast</h3>
    <p>Audio clips, also known as a podcast.  Let's talk about all things OpenMW!</p>
  </div>
  {% if live_audio %}
    {% for a in live_audio %}
      <div>
        <h5 class="bold"><a href="{% url 'media:detail' a.slug %}">{{ a.title }}</a></h5>
        <div>Posted on {{ a.date_added|date:'Y' }}-{{ a.date_added|date:"m" }}-{{ a.date_added|date:"d" }}</div>
        <div>{{ a.description|safe|truncatewords:30 }}</div>
      </div>
    {% endfor %}
  {% else %}
    <h5 class="center">Coming soon..</h5>
    <p class="img"><img class="center" src="/i/soon.jpg" /></p>
  {% endif %}
  {% include 'paginate.html' %}
{% endblock %}
