{% extends 'base.html' %}
{% block title %}{{ media }}{% endblock %}
{% block content %}
  <noscript>
    <div class="bold center">
      Video playback at set positions requires javascript (<a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/blob/{% if momw_ver %}beta{% else %}master{% endif %}/momw/static/js/vidpos.js">Source code</a>).  Sorry!
    </div>
  </noscript>
  <h2 class="bold center">{{ media.title }}</h2>
  <h5 class="center">Posted on {{ media.date_added|date:'Y' }}-{{ media.date_added|date:"m" }}-{{ media.date_added|date:"d" }}</h5>
  {% if media.other_html %}
    {{ media.other_html|safe }}
  {% elif media.video_html %}
    {{ media.video_html|safe }}
    <div class="center"><button id="get-link" title="Click this button to copy a link to this video at the current playback time to your clipboard.">Get Link At Current Time</button></div>
  {% elif media.audio_html %}
    {{ media.audio_html|safe }}
  {% elif media.image_html %}
    {{ media.image_html|safe }}
  {% endif %}
  <div>
    <p>{{ media.description|safe }}</p>
    {% if media.image_html %}<p><span class="bold">(Click to see the full size image.)</span></p>{% endif %}
  </div>
{% endblock %}
{% block lower_js %}
  {% if DEBUG %}
    {% load static %}
    <script src="{% static 'js/theme-picker.js' %}"></script>
    <script src="{% static 'js/vidpos.js' %}"></script>
  {% else %}
    <script src="/js/theme-picker.js"></script>
    <script src="/js/vidpos.js"></script>
  {% endif %}
{% endblock %}
