{% if plugins %}
<pre><code>{% for p in plugins %}content={{ p.file_name }}
{% endfor %}</code></pre>
{% elif fallback_archives %}
<pre><code>{% for p in fallback_archives %}fallback-archive={{ p.file_name }}
{% endfor %}</code></pre>
{% elif groundcover %}
<pre><code>{% for p in groundcover %}groundcover={{ p.file_name }}
{% endfor %}</code></pre>
{% endif %}
