{% extends 'base.html' %}
{% block title %}Cookie Policy{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">Cookie Policy</h3>
    <p class="center">
      This website does not use any cookies anywhere.
    </p>
  </div>
{% endblock %}
