{% extends 'base.html' %}
{% block meta %}
  <meta property="og:site_name" content="Modding-OpenMW.com" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{% url 'faq-tooling' %}">
  <meta property="og:title" content="FAQ: Tooling">
  <meta property="og:description" content="If you're wondering why the website workflow doesn't involve the tools you know and love from modding other games, please read on!">
  <meta property="og:image" content="https://modding-openmw.com/favicon.png">
{% endblock %}
{% block title %}FAQ: Tooling{% endblock %}
{% block content %}
  <h1>FAQ: Tooling</h1>

  <p>
    If you're wondering why the website workflow doesn't involve the tools you know and love from modding other games, please read on!
  </p>

  <h3>Mod Organizer 2 (MO2)</h3>
  <p>
    Mod Organizer 2 (MO2) is a trusty piece of software used by many to reliably and easily mod their games. It was made for games/engines that did not have the content-management features found in OpenMW such as a VFS and simple, text-based load order interface.
  </p>
  <p>
    Unfortunately: despite the existence of a few plugins that aim to and do provide support for OpenMW features, the full range of them are not yet supported which causes an awkward leak in the abstraction MO2 provides for you. Additionally: MO2 is not realiably functional on non-Windows operating systems, whereas a large percentage of OpenMW users are not using Windows. <sup id="footnote-1-src"><a href="#footnote-1">1</a></sup>
  </p>
  <p>
    This website aims to offer a simple way to get accurate, fully text-based configs that you can copy-paste in and play the game. Please refer to <a href="{% url 'guides-users' %}">our workflow rundown</a> to get an idea of how to navigate all of this. <sup id="footnote-2-src"><a href="#footnote-2">2</a></sup>
  </p>

  <h3>FOMOD</h3>
  <p>
    Similarly: FOMOD is typically associated with tooling that doesn't support OpenMW, such as MO2. But don't worry! Our curated lists will direct you on precisely what you need to use for each and every option; you don't need to worry about doing the right thing because we've already dedicated a lot of time to ensuring things work properly.
  </p>

  <h3>Wabbajack</h3>
  <p>
    Wabbajack is a seemingly magical tool that automates a good portion of the modding process. While there are a few great Wabbajacks for OpenMW, they aren't a silver bullet and do require some knowledge of what you're doing. We've seen many a folk dive into a Wabbajack and end up with broken setups because something wasn't fully understood.
  </p>

    {% comment %}
  <h3>Wrye Mash</h3>
  <p>
    TODO
  </p>

  <h3>????</h3>
  <p>
    TODO
  </p>
  {% endcomment %}

    <h3>Footnotes</h3>

  <p>
    <div id="#footnote-1"><sup><a href="#footnote-1-src">1</a></sup> <a href="https://stats.modding-openmw.com/">Our website stats</a> regularly show non-Windows traffic coming from upwards of 20% of our visitors.</div>
    <div id="#footnote-2"><sup><a href="#footnote-2-src">2</a></sup> It's not that we're against GUI-based tools! At the moment, there are zero GUI-based tools that support all of OpenMW's features (including OpenMW-Launcher!). Someday we'd love to build a slick, GUI-based tool that's easier for everyone (but CLI-lovers can stick with what they love, of course).</div>
  </p>

{% endblock %}
