{% extends 'base.html' %}
{% block title %}Setup Steps{% endblock %}
{% block content %}

  <div style="margin: 0 auto; max-width: 800px;">
    <h2 class="bold center">Setup Steps</h2>

    <p class="center">A series of pages written to help get you set up with Morrowind via OpenMW:</p>

    {% include "gs-nav.html" with cur_page="getting_started" %}

    <div class="line"></div>

    {% include "main-nav.html" with cur_page="getting_started" %}

{% endblock %}
