{% extends 'base.html' %}
{% block title %}Getting Started: Install OpenMW{% endblock %}
{% block content %}

  {% include "gs-nav.html" with cur_page="gs-install" prev_link='/getting-started/buy/' next_link='/getting-started/settings/' %}

  <h3 class="center">Getting Started: <span class="bold">Install OpenMW</span></h3>

  <table class="u-full-width">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="bold">Linux</span>:</td>
        <td><a href="https://downloads.openmw.org/linux/generic/?C=M&O=D">Official binaries</a> with sha256sums</td>
        <td><a href="/mods/openmw-appimage/">Unofficial AppImage (Release and Dev)</a></td>
        <td><a href="https://aur.archlinux.org/packages/?O=0&K=openmw">AUR</a> ,<a href="https://launchpad.net/~openmw/+archive/ubuntu/openmw-daily">Ubuntu Daily PPA</a></td>
      </tr>
      <tr>
        <td><span class="bold">macOS</span>:</td>
        <td><a href="https://downloads.openmw.org/osx/?C=M&O=D">Official binaries</a></td>
        <td><a href="https://openmw.org/downloads/">Dev Build</a> <a href="#should-i">(see below)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="bold">Windows</span>:</td>
        <td><a href="https://downloads.openmw.org/windows/?C=M&O=D">Official binaries</a></td>
        <td><a href="https://openmw.org/downloads/">Dev Build</a> <a href="#should-i">(see below)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="bold">Compile from source</span>:</td>
        <td><a href="https://gitlab.com/OpenMW/openmw-dep">This repo</a> is for installing required dependencies on macOS.</td>
        <td>Use the <a href="/mods/build-openmw/">build-openmw python script</a> (Linux only).</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h3 id="should-i"><a href="#should-i">Should I Use A Dev Build?</a></h3>

  <p>To install a Dev Build with the latest features, look for a download link for your platform under the "Development Builds" heading on <a href="https://openmw.org/downloads/">the official OpenMW downloads page</a>.</p>

  <p>Dev Builds are mentioned above as an install option, however you should prefer an actual release build unless you know you have a reason not to (such as: you need a new feature for some mod).</p>

  <p>Dev Builds contain the latest features, as well as the latest bugs.  Release builds are older but much more battle-tested, so you can expect fewer unknown problems.</p>

  <p>Users of Dev Builds are always needed; this is how bugs are found and subsequently fixed.  But unless you are OK with possible breakage and/or bug reporting, you will want to go with a stable build.</p>

  <p>If you experience a bug in an Dev Build, please feel free to hop into <a href="https://discord.gg/TksUqmB5T6">the OpenMW discord server</a> and let the team know about it, or file a bug on <a href="https://gitlab.com/OpenMW/openmw/-/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=">the project issue tracker</a>.</p>

  {% include "main-nav.html" with cur_page="gs-install" prev_link=False next_link=False %}

{% endblock %}
