{% extends 'base.html' %}
{% block title %}Getting Started: Tips{% endblock %}
{% block content %}

  {% include "gs-nav.html" with cur_page="gs-tips" prev_link='/getting-started/directories/' next_link=False %}

  <h3 class="center">Getting Started: <span class="bold">Tips</span></h3>

  <p>Before getting into the giant list of mods that awaits you, feel free to check out some of the below tips.</p>

  {# TODO: make a class for this #}
  <div style="margin: 0 auto; max-width: 1050px;">
    <ul>
      <li>Add one mod at a time; add the mod, fire up the game, walk around really quick to see if things are cool (use the console to let yourself fly quickly or teleport to where the thing the mod changes (if applicable) is.) this will take a while but will help reduce the complexity of fixing potential problems.  It's easier to troubleshoot smaller changes, of course!  A must for setups with a lot of mods (like those that use the entire guide.)</li>
      <li>Keep your <code>openmw.cfg</code> and other configuration files for the game under some version control system.  It's great to have a way to go back and look at old configurations, changes, and so forth. Dropbox, git (or any other vcs tool), whatever works best for you.</li>
    </ul>
  </div>

  <p>Be sure to check out <a href="{% url 'tips' %}">the more in-depth list of tips</a>, or jump straight into <a href="{% url 'mod-list-detail' slug='total-overhaul' %}">the total overhaul list</a>!</p>

  <h3 class="bold center noul"><a href="{% url 'mod-lists' %}">View Mod Lists <i class="fa fa-chevron-right"></i></a></h3>

  {% include "main-nav.html" with cur_page="gs-directories" prev_link=False next_link=False %}

{% endblock %}
