{% extends 'base.html' %}
{% block title %}Developers' Guide{% endblock %}
{% block content %}
  <h1>Developers' Guide</h1>
  <p>Please refer to our <a href="https://gitlab.com/modding-openmw/modding-openmw.com">GitLab Repo</a>.
  {% include "main-nav.html" with cur_page="guides_developers" %}
{% endblock %}
