{% extends 'base.html' %}
{% block title %}Guides{% endblock %}
{% block content %}
  <div style="margin: 0 auto; max-width: 800px;">
    <h2 class="bold center">Guides</h2>
    <p class="center">A series of guides to help you get the most out of this website.</p>
    {% include "guides_nav.html" %}
    <ul>
      <li><span class="bold">Developers' Guide</span>: intended for those that want to hack on this website's codebase</li>
      <li><span class="bold">Modders' Guide</span>: intended for modders that want to implement an automated mod publishing workflow</li>
      <li><span class="bold">Users' Guide</span>: intended for folks that want to mod their game but aren't quite sure where on this website to start</li>
    </ul>
  </div>
{% endblock %}
