<h5 class="bold center">
  {% if cur_page == 'getting_started' %}<button disabled="true">Getting Started</button>{% else %}<a class="button button-primary" href="{% url 'getting_started' %}">Getting Started</a>{% endif %}
  {% if cur_page == 'tips' %}<button disabled="true">Tips</button>{% else %}<a class="button button-primary" href="{% url 'tips' %}">Tips</a>{% endif %}
  {% if cur_page == 'changelogs' %}<button disabled="true">Mod List Changelogs</button>{% else %}<a class="button button-primary" href="{% url 'changelogs' %}">Mod List Changelogs</a>{% endif %}
  {% if cur_page == 'changelogs-website' %}<button disabled="true">Website Changelog</button>{% else %}<a class="button button-primary" href="{% url 'changelogs-website' %}">Website Changelog</a>{% endif %}
  {% if cur_page == 'cfg_generator' %}<button disabled="true">CFG Generator</button> {% else %}<a class="button button-primary" href="{% url 'cfg_generator' %}">CFG Generator</a>{% endif %}
  <a class="button button-primary" href="/name-generator/">Name Generator</a>
  {% if cur_page == 'about' %}<button disabled="true">About</button> {% else %}<a class="button button-primary" href="{% url 'about' %}">About</a>{% endif %}
  {% if cur_page == 'faq' %}<button disabled="true">FAQ</button>{% else %}<a class="button button-primary" href="{% url 'faq' %}">FAQ</a>{% endif %}
  {% if cur_page == 'resources' %}<button disabled="true">Resources</button>{% else %}<a class="button button-primary" href="{% url 'resources' %}">Resources</a>{% endif %}
  {% if cur_page == "guides_users" %}<button disabled="true">Users' Guide</button>{% else %}<a class="button button-primary" href="{% url 'guides-users' %}" title="Are you a user looking to get your game modded? If so, then click this button.">Users' Guide</a>{% endif %}
  {% if cur_page == "guides_developers" %}<button disabled="true">Developers' Guide</button>{% else %}<a class="button button-primary" href="{% url 'guides-developers' %}" title="Are you a developer looking to hack on this website's code? If so: this is the button you want to click.">Developers' Guide</a>{% endif %}
  {#% if cur_page == "guides_modders" %}<button disabled="true">Modders' Guide</button>{% else %}<a class="button button-primary" href="{% url 'guides-modders' %}" title="Are you a modder looking to learn about an automated mod publishing pipeline? If so: click this button.">Modders' Guide</a>{% endif %#}
  {% if cur_page == 'subscribe' %}<button disabled="true">Subscribe</button> {% else %}<a class="button button-primary" href="{% url 'subscribe' %}">Subscribe</a>{% endif %}
  <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">Issue Tracker</a>
  <a class="button button-primary" href="https://discord.gg/KYKEUxFUsZ">MOMW On Discord</a>
  <a class="button button-primary" href="https://web.libera.chat/?channels=#momw">#momw On IRC</a>
  <a class="button button-primary" href="https://gitlab.com/modding-openmw">MOMW On GitLab</a>
</h5>
