{% extends 'base.html' %}

{% block title %}Final Steps: {{ mod_list.title }}{% endblock %}
{% block content %}
  <h2>
    Final Steps: {{ mod_list.title }}
  </h2>

  <p>
    Now that you've gone through the entire mod list you may be eager to jump in and play - but there's still a few more final steps.
  </p>

  <p>
    Go through each step as outlined below to make sure your setup is golden.
  </p>

  <p>
    <a href="{% url 'mod-list-step-detail' mod_list.slug mod_list.mod_count %}">Back to the end of the "{{ mod_list.title }}" modlist.</a>
    {# <a href="">Back to the end of the "{{ mod_list.title }}" modlist.</a> #}
  </p>

  <h4>Table Of Contents</h4>

  <ul>
    {% if to_clean %}<li><a href="#cleaning">Cleaning</a></li>{% endif %}
    <li><a href="#cfg-generator">CFG Generator</a></li>
    <li><a href="#validate-configs">Validate Your Configs</a></li>
    {% if using_delta_plugin %}<li><a href="#merged">Delta Plugin</a></li>{% endif %}
	{% if using_groundcoverify %}<li><a href="#groundcoverify">Groundcoverify</a></li>{% endif %}
	{% if using_waza_lightfixes %}<li><a href="#wazalights">Waza Lightfixes</a></li>{% endif %}
	<li><a href="#navmesh-cache">Generate a Navmesh Cache</a></li>
	<li><a href="#gameplay-settings">Gameplay Settings and Others</a></li>
    <li><a href="#run-the-game">Run The Game</a></li>
  </ul>

  {% if to_clean %}
  <h3 id="cleaning"><a href="#cleaning">Cleaning</a></h3>

  <p>
    It can be tempting to skip cleaning, however dirty plugins can affect the game in unexpected ways.
  </p>

  <p>
    As a reminder: this mod list has <span class="bold">{{ to_clean|length }}</span> plugin{{ to_clean|pluralize }} that need cleaning if you haven't already:
  </p>

  <pre><code>{% for p in to_clean %}{{ p }}
{% endfor %}</code></pre>

  <p>
    <a href="https://modding-openmw.com/files/tes3cmd-0.37v-2013.10.06.7z">Download and extract tes3cmd</a> to <code><span id="mwDir"></span></code>.
  </p>
  
  <p>
    Next, find the plugin you need to clean and cut-and-paste it into that same directory.
  </p>
  
  <p>
    On Windows, navigate to that folder and <code>Shift+Right-click</code> the folder to bring up the context menu. Click <code>Open Powershell window here</code> and type the following command, replacing the file name in quotes with the one you’re trying to clean:
    <code>.\tes3cmd clean “FileYouWantToClean.esp”</code>
  </p>
  <p>On Linux or macOS, open Terminal and <code>cd</code> into the folder you extracted tes3cmd into and use the following command, replacing the file name in quotes with the one you’re trying to clean:
	    <code>./tes3cmd clean “FileYouWantToClean.esp”</code>
  </p>
  <p>
    You will see some output about what tes3cmd has cleaned and that the <code>Clean_</code> plugin was generated. Copy-and-paste the clean version to the file’s original location in your mods. You are welcome to remove the leftover .esp file in your vanilla Morrowind Data Files folder if you desire.
  </p>

  <p>
    Please see <a href="{% url 'tips-cleaning' %}">this page</a> for more information on cleaning plugins.
  </p>
  {% endif %}


  <h3 id="cfg-generator"><a href="#cfg-generator">CFG Generator</a></h3>

  <p>
    The <a href="{% url 'cfg_generator3' %}">CFG Generator</a> will provide you with personalized lines for your mod list that you will need to copy-and-paste into your <code>openmw.cfg</code> and <code>settings.cfg</code> files in order for the mod list to function properly. 
  </p>
  <ul>
    <li>On Windows, these files are located in <code>Documents\My Games\OpenMW</code></li>
	<li>On Linux, these files are located in <code>~/.config/openmw</code></li>
	<li>On Mac, these files are located in <code>~/Library/Preferences/openmw</code></li>
  </ul>
  <p>
    <span class="bold">Important: Do not enable every plugin you have downloaded. Many mods come with alternate versions and patches which are incompatible with each other and will cause your game to break.</span> Using these snippets from the CFG Generator enables every plugin that you need to in the correct load order.
  </p>
  <p>
    Ensure that your <a href="/settings">User Settings</a> are set. With your User Settings set, on the <a href="{% url 'cfg_generator3' %}">CFG Generator</a> page click on the <code>Choose a preset</code> button that says <code>{% if mod_list.slug == 'i-heart-vanilla-directors-cut' %}I HEART VANILLA DC{% elif mod_list.slug == 'one-day-morrowind-modernization' %}ONE DAY MODERNIZE{% elif mod_list.slug == 'starwind-modded' %}STARWIND MODDED{% else %}{{ mod_list.title|upper }}{% endif %}</code>. After a couple of seconds you will have your config files generated for you.
  </p>
  <p>
    For the larger mod lists the sections you will copy-and-paste into your config files can be quite large, and so for your convenience you can click on the <code>Copy to clipboard</code> button.
  </p>
  <p>
    Paste the lines from the <code>openmw.cfg</code> section accordingly:
	<ul>
	  <li>Paste the <code>fallback=</code> section below the last <code>fallback=</code> line in the file</li>
	  <li>Paste the <code>Data Paths</code> section, overwriting any <code>data=</code> lines already present</li>
	  <li>Paste the <code>BSAs</code> and <code>Plugins</code> section, overwriting any <code>fallback-archive=</code> and <code>content=</code> lines already present</li>
	  {% if using_groundcoverify %}<li>Paste the <code>Groundcover</code> section, overwriting any <code>groundcover=</code> lines already present</li>{% endif %}
	</ul>
	Verify the <code>data=</code> folder paths match exactly to where the files are stored on your computer. If there is a mismatch here you may have set your <a href="/settings">User Settings</a> incorrectly or deviated from the folder naming schemes provided by this website.
  </p>
  <p>
    For the <code>settings.cfg</code> section, if the header for a section already exists in your file (ie: <code>[Shadows]</code>), make sure to only paste the corresponding lines and omit the duplicate header. 
  </p>
  {% if using_delta_plugin and using_groundcoverify and using_waza_lightfixes %}
  <p>
    Note that the CFG Generator creates a complete list of plugins that you should have enabled once you are finished with the mod list. Once you finish copy-and-pasting you will have <code>content=</code> lines for <a href="#merged">Delta Plugin</a>, <a href="#groundcoverify">Groundcoverify</a>, and  <a href="#wazalights">Waza Lightfixes</a> and a <code>groundcover=</code> line for <a href="#groundcoverify">Groundcoverify</a> despite not completing those steps, yet:
  </p>
  <pre><code>...
content=delta-merged.omwaddon
content=deleted_groundcover.omwaddon
content=LightFixes.esp
...
groundcover=groundcover.omwaddon</code></pre>
  <p>
    It is important that you comment out these lines by placing a <code>#</code> at the start of the line until you complete each of those three steps in turn:
  </p>
  <pre><code>...
#content=delta-merged.omwaddon
#content=deleted_groundcover.omwaddon
#content=LightFixes.esp
...
#groundcover=groundcover.omwaddon</code></pre>
    <p>
      Make sure to uncomment these lines after you complete each of those three steps!
    </p>
  {% elif using_waza_lightfixes %}
  <p>
    Note that the CFG Generator creates a complete list of plugins that you should have enabled once you are finished with the mod list. Once you finish copy-and-pasting you will have a <code>content=</code> line for <a href="#wazalights">Waza Lightfixes</a> despite not completing this step, yet:
  </p>
  <pre><code>...
content=LightFixes.esp</code></pre>
  <p>
    It is important that you comment out this line by placing a <code>#</code> at the start of it until you complete that step:
  </p>
  <pre><code>...
#content=LightFixes.esp</code></pre>
    <p>
      Make sure to uncomment that line after you complete its step!
    </p>
  {% else %}
    <p>Note that the CFG Generator creates a complete list of plugins that you should have enabled once you are finished with the mod list.</p>
  {% endif %}

  <p>
    <span class="bold">Again, do not enable every plugin you have downloaded. Many mods come with alternate versions and patches which are incompatible with each other and will cause your game to break.</span> Using these snippets from the CFG Generator enables every plugin that you need to in the correct load order.
  </p>

  <h3 id="validate-configs"><a href="#validate-configs">Validate Your Configs</a></h3>

  <p>
    Once you're finished using the <a href="#cfg-generator">CFG Generator</a>, download and run the <a href="{% url 'mod_detail' slug='openmw-validator' %}">openmw-validator tool</a>. This will report on various potential errors in your <code>openmw.cfg</code> file. This step is essential to ensuring your mod list will work as it should. 
  </p>

  <ul>
    <li><a href='https://modding-openmw.gitlab.io/openmw-validator'>Download openmw-validator</a></li>
    <li>Extract the files to any folder you would like.</li>
    <ul>
      <li>On Windows, navigate to that folder and <code>Shift+Right-click</code> the folder to open the context menu. Click <code>Open Powershell window here</code> and use the following command:
	    <code>.\openmw-validator</code>
	  </li>
	  <li>On Linux or macOS, open Terminal and <code>cd</code> into the folder you extracted openmw-validator to and use the following command (but change the executable name for macOS):
	    <code>./openmw-validator-linux-amd64</code>
      </li>
    </ul>	
  </ul>

  <p>It will report <code>Validation completed, log written to: ...</code>. Navigate to that folder and open that log file. The end of the file contains a summary that lets you know about any issues the validator found. Make sure to fix any issues it reports on now, before moving forward.</p>

  {% if using_delta_plugin %}
  <h3 id="merged"><a href="#merged">Delta Plugin</a></h3>

  <p>
    With your config files set and your files validated it's time to make a merged plugin using Delta Plugin.
  </p>

  <span class="bold">
    Do not skip this step! Many mods require object merging in order to function as intended. Delta Plugin also cleans most dirty records for you.
  </span>

  <ul>
    <li><a href='https://gitlab.com/bmwinger/delta-plugin/-/releases'>Download the latest release for Delta Plugin</a></li>
    {% if mod_list.slug == 'i-heart-vanilla' or mod_list.slug == 'i-heart-vanilla-directors-cut' %}<li>Extract the files to <code class="final-page-path">{{ delta_plugin_path }}</code></li>{% endif %}
	{% if mod_list.slug == 'one-day-morrowind-modernization' or mod_list.slug == 'graphics-overhaul' or mod_list.slug == 'expanded-vanilla' or mod_list.slug == 'total-overhaul' or mod_list.slug == 'just-good-morrowind' %}<li>Extract the files to <code class="final-page-path">{{ delta_plugin_and_groundcoverify_path }}</code></li>{% endif %}
    <ul>
      <li>On Windows, navigate to that folder and <code>Shift+Right-click</code> the folder to open the context menu. Click <code>Open Powershell window here</code> and use the following command:
	    <code>.\delta_plugin merge --skip-cells delta-merged.omwaddon</code>
	  </li>
	  <li>On Linux or macOS, open Terminal and <code>cd</code> into the folder you extracted Delta Plugin and use the following command:
	    <code>./delta_plugin merge --skip-cells delta-merged.omwaddon</code>
      </li>
    </ul>	
  </ul>

  <p>
    You will know this is successful if you get a message saying, <code>Done!</code> You now must edit your <code>openmw.cfg</code> file and remove the <code>#</code> before <code>content=delta-merged.omwaddon</code> before moving onto the next step.
  </p>
  
  <p>
    It is normal to receive some warnings and errors. If you encounter any unexpected errors, however, the program will cease generating the merged plugin and will give you an error message. The <a href='#validate-configs'>openmw-validator tool</a> will report where and why these errors occurred. Follow the instructions in that section, and run Delta Plugin again.
  </p>
  {% endif %}


  {% if mod_list.slug == 'total-overhaul' or mod_list.slug == 'graphics-overhaul' or mod_list.slug == 'expanded-vanilla' or mod_list.slug == 'one-day-morrowind-modernization' or mod_list.slug == 'just-good-morrowind' %}
  <h3 id="groundcoverify"><a href="#groundcoverify">Groundcoverify</a></h3>
  
  <p>
    Groundcoverify is optional, and a little more involved than previous steps, but highly recommended as it greatly increases your performance. It accomplishes this by using Delta Plugin to convert flora and foliage objects into groundcover, and also creates a plugin to disable those objects that were converted to groundcover.
  </p>
  
  <ul>
    <li>Groundcoverify requires you to <a href="https://python.org/downloads/windows/">download and install Python</a>. Click on the <code>Latest Python 3 Release</code>link and scroll down to the <code>Files</code> section</li>
	<ul>
	  <li>Windows users should download the <code>Windows installer (64-bit)</code>. In the installer, before clicking on <code>Customize installation</code> ensure that the checkbox labeled <code>Add python.exe to PATH</code> is checked. Continue installing and ensure that later on that the checkbox <code>Add Python to environment variables</code> is checked and customize the install location if you desire.</li>
	  <li>MacOS users should download the <code>macOS 64-bit universal2 installer</code></li>
	  <li>Linux users can get python3 from their distro</li>
	</ul>
	<li>After installing Python, <a href="https://gitlab.com/bmwinger/groundcoverify/-/archive/main/groundcoverify-main.zip">download Groundcoverify</a> and extract it to <code class="final-page-path">{{ delta_plugin_and_groundcoverify_path }}</code></li>
	<p><span class="bold">It is important that you have the files for Delta Plugin and Groundcoverify in the same folder. You may have to move the contents from <code>groundcoverify-main</code> into the provided data path above for the following instructions to work.</span></p>
    <ul>
      <li>On Windows, navigate to that folder and <code>Shift+Right-click</code> the folder to open the context menu. Click <code>Open Powershell window here</code> and use the following command:
	    <code>python .\groundcoverify.py --verbose --delta-plugin-exe .\delta_plugin.exe</code>
	  </li>
	  <li>On Linux or macOS, open Terminal and <code>cd</code> into the folder you extracted Delta Plugin and use the following command:
	    <code>./groundcoverify.py --verbose --delta-plugin-exe ./delta_plugin</code>
      </li>
    </ul>	
  </ul>

  <p>
    You will know this is successful if you don’t receive any errors. You now must edit your <code>openmw.cfg</code> file and remove the <code>#</code> before <code>content=deleted_groundcover.omwaddon</code> in the plugins section and also remove the <code>#</code> before <code>groundcover=groundcover.omwaddon</code> in the groundcover section before moving onto the next step.
  </p>
  
  {% endif %}
  
  {% if mod_list.slug != "starwind-modded" %}
  <h3 id="wazalights"><a href="#wazalights">Waza Lightfixes</a></h3>
  
  <p>
    <a href="https://github.com/glassmancody/waza_lightfixes/releases">Download Waza Lightfixes</a> and extract it to <code class="final-page-path">{{ waza_lightfixes_path }}</code>. On Windows and Linux all you need to do is run the executable.
  </p>
  <p>
    MacOS users may need to download the <code>Source code (zip)</code> file instead, and extract that to the provided data path. Then, open a Terminal window and <code>cd</code> into that directory and run the following command: 
	<code>perl waza_lightfixes.pl</code>
    If you get any errors, it may be because you need to install some modules. To do so:
    <ol>
	  <li>Run <code>cpan</code>, which should be installed already</li>
	  <li>In the Terminal, type <code>install module_name</code>, where <code>module_name</code> is the name of the module you need to install</li>
	  <li>Type <code>exit</code> to exit CPAN</li>
	  <li>Run <code>perl waza_lightfixes.pl</code> again and repeat the previous steps if you get any more errors</li>
	</ol>
  </p>
  <p>
    You will know the program was successful if it generated a <code>LightFixes.esp</code> plugin in the mod folder. You now must edit your <code>openmw.cfg</code> file and remove the <code>#</code> before <code>content=LightFixes.esp</code> in the plugins section before launching the game.
  </p>
  {% endif %}

  <h3 id="navmesh-cache"><a href="#navmesh-cache">Generate a Navmesh Cache</a></h3>
  
  <p>
    The Navmeshtool program comes with OpenMW and can be used to pregenerate navmeshes, thus avoiding loading stutters in-game that might be caused by doing that on the fly. It's an easy, convenient way to eliminate one category of stuttering (while continuing to enjoy the benefits of what caused it: dynamically generated navigation meshes).
  </p>

  <p>
    The easiest way to use it is via OpenMW-Launcher:
  <ol>
    <li>Ensure your <a href="#cfg-generator">load order is fully setup</a> and correct</li>
    <li>Run <code>OpenMW-Launcher</code></li>
    <li>Click the <code>Data Files</code> icon at the top</li>
    <li>Click the <code>Navigation Mesh Cache</code> tab</li>
    <li>Click the button labeled <code>Update</code></li>
  </ol>
  </p>

  <p>
    Depending on your hardware and which mod list you chose to install this could take a while to finish. 
  </p>

  <h3 id="gameplay-settings"><a href="#gameplay-settings">Gameplay Settings and Others</a></h3>
  
  <p>
    The CFG Generator includes a list of setting values for both <code>openmw.cfg</code> and <code>settings.cfg</code> that are either required or heavily recommended to play the modlist. However, OpenMW allows for plenty of user customization and includes dozens of options, many of which are highly subjective, so it's hard to give a rundown of what you should or shouldn't use.
  </p>

  <p>
    We recommend to hover over each option in the Settings menu of the OpenMW-Launcher to view the tooltip and decide for yourself which options you want to toggle. You can also check out <a href='https://openmw.readthedocs.io/en/latest/reference/modding/settings/game.html'>the official documentation</a> for these settings, as well as the rest of the documentation on settings to get a more complete idea of what can be done. You can also visit our <a href="{% url 'gs-settings' %}">Getting Started: Tweak Settings</a> page which highlights some of the options.
  </p>

  <h3 id="run-the-game"><a href="#run-the-game">Run The Game</a></h3>

  <p>
    Last, but not least: run the game to see how it looks and all that.
  </p>

  <p>
    OpenMW has a handy testing feature that's described <a href="{% url 'tips-performance' %}#how-to-test">here</a>, be sure to use that to quickly spawn into various areas as desired. Maybe there's a texture you still want to replace, or a problem you found (please <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">let us know</a> if that's the case!), in any case it is definitely worthwhile to spend time testing before you take the deep plunge.
  </p>

  <p>
    This is also a good time to nail down performance and quality settings. With a reasonably modern GPU, it should be possible to run Morrowind via OpenMW with high amount of visual detail. See the entire <a href="{% url 'tips-performance' %}">performance guide</a> for more information.
  </p>

{% endblock %}
