{% extends 'base.html' %}
{% block title %}{{ tag }}{% endblock %}
{% block content %}

  <h4 class="center">Tag: <span class="bold">{{ tag }}</span></h4>
  <p class="center" style="margin-top: -20px;"><span class="bold">{{ tag.momw_taggedmod_items.count }}</span> mods</p>
  <p class="center">{{ tag.description|safe }}</p>

  {% include 'mod_table.html' with mods=tag_mods show_category=True %}

{% endblock %}
