<div class="center">
  {% if mods.has_previous %}
    <a href="?step={{ mods.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  {% endif %}

  {% for num in pag_range %}
    {# ifequal mods.number|stringformat:"s" num #}
    {% if mods.number == num %}
      <span>{{ num }}</span>
    {% else %}
      <a href="?step={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if mods.has_next %}
    <a href="?step={{ mods.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  {% endif %}
</div>
