{% extends 'base.html' %}
{% block title %}Resources{% endblock %}
{% block content %}

  <h4 class="center">Resources</h4>

  <ul>
    <li><a href="http://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html">OpenMW documentation on installing and using mods</a></li>
    <li><a href="https://wiki.openmw.org/index.php?title=Mod_status">Mod Status Page from the Official OpenMW wiki</a></li>
    <li><a href="https://morrowind-modding-with-massivejuice.vercel.app/01-fleeting-notes/modlist-for-boss-miriam/">Modlist for Boss Miriam</a> by MassiveJuice</li>
    <li><a href="https://github.com/Lucevar/lucewind-overhaul">Lucewind Overhaul</a> by Lucevar - not made for OpenMW but still a nice reference</li>
    <li><a href="https://danaes-morrowind-modlist.gitbook.io/daim">Danae's Awesome Incremental Awesome Modlist (DAIM))</a> not made for OpenMW</li>
    <li><a href="https://glittergear1.wordpress.com/2024/06/07/boom-beautiful-outdoors-of-morrowind/">Glittergear's BOOM — Beautiful Outdoors of Morrowind</a> not specifically for OpenMW but there's plenty here that does apply.</li>
    <li><a href="https://glittergear1.wordpress.com/2024/06/07/bdom-beautiful-dungeons-of-morrowind/">Glittergear's BDOM — Beautiful Dungeons of Morrowind</a> not specifically for OpenMW but there's plenty here that does apply.</li>
    <li><a href="https://glittergearplays.wordpress.com/2023/07/12/mods-for-morrowind-mages/">Glittergear's Mods for Morrowind Mages</a> not specifically for OpenMW but there's plenty here that does apply.</li>
    <li><a href="https://www.danjb.com/morrowind/openmw_mod_management">Danjb's Guide To OpenMW Mod Management</a> (with ModOrganizer 2).</li>
    <li><a href="https://www.danjb.com/morrowind/tes3mp_guide">Danjb's Guide To TES3MP</a></li>
    <li><a href="https://docs.google.com/document/d/1C8r_fgzmMw_YrUF4JWslQP1XYPR3USl4OG8RvaYi0qw/edit">A Lightweight Mod and Installation Guide for OpenMW-VR by mjboring</a></li>
    <li><a href="https://r-fuzzo.gitbook.io/morrowind++/">Morrowind++</a> is a guide and mod list that's not made with OpenMW in mind but is useful for OpenMW players.</li>
    <li><a href="https://danaeplays.thenet.sk/good-modding-practice/">Danae's Good Modding Practice guide</a> (not made for OpenMW)</li>
    <li><a href="https://github.com/Sigourn/morrowind-sharp#morrowind-a-morrowind-modding-guide">MORROWIND#: A Morrowind Modding Guide</a> (not made for OpenMW).</li>
    <li><a href="https://github.com/RingComics/yajan#you-are-just-an-nwah">You Are Just an N'wah</a>: A Morrowind overhaul modlist focused on bringing Morrowind to 2020 in gameplay and graphics (not made for OpenMW).</li>
    <li><a href="https://github.com/Lucevar/mw-immersion-mods#morrowind-themed-mod-lists---2019-edition">Morrowind Themed Mod Lists - 2019 Edition</a> (not made for OpenMW)</li>
    <li><a href="https://danaeplays.thenet.sk/">Danae Plays Morrowind and others</a> (not made for OpenMW).</li>
    <li><a href="https://github.com/MelchiorDahrk/Uniformity-Mods/wiki">Melchior Dahrk's Uniformity Mods</a> (not made for OpenMW)</li>
    <li><a href="https://wiki.nexusmods.com/index.php/Morrowind_graphics_guide">Morrowind Graphics Guide</a> (supports OpenMW but is slightly outdated with regard to some compatibility items)</li>
    <li><a href="http://wiki.step-project.com/BasicMW">BasicMW guide</a> -- not written for OpenMW specifically but pretty friendly to it.</li>
    <li><a href="https://github.com/Tyler799/Morrowind-2020/blob/master/Morrowind_2020.md">Morrowind 2020: Thastus Edition</a> (not written for OpenMW)</li>
    <li><a href="https://baturin.org/misc/morrowind-mods/">Daniil Baturin's Mods</a> - fun and funny mods that are also lore-friendly.</li>
    <li><a href="https://pastebin.com/5diKftC7">"The pastebin guide"</a> (not written for OpenMW)</li>
    <li><a href="https://www.danjb.com/morrowind/morrowind_today">Morrowind Today</a> (not written for OpenMW)</li>
    <li><a href="http://kyromods.webs.com/mods.htm">Kyro's Morrowind</a> -  seems quite old but worth a look</li>
    <li><a href="https://docs.google.com/document/d/1pRLBvOuDOkK9odpAwOludR4FmAJ95f6IsZpvaA8iHVU/edit">Morrowind Immersive Add-Ons list</a> (written with OpenMW in mind)</li>
    <li><a href="https://docs.google.com/document/d/1_M_LwePPJM--GRqg_5HNVNUHtLqgLFPj7nfVDgxJXoU/edit">Girthquake’s Morrowind Modlist</a> (not written for OpenMW)</li>
  </ul>

  {% include "main-nav.html" with cur_page="resources" prev_link='/load-order/' next_link="/tips/" %}

{% endblock %}
