{% extends 'base.html' %}
{% block title %}Beta what?{% endblock %}
{% block content %}
  <div>
    <h3 class="center">Beta what?</h3>

    <p>If you're at this page, then it's likely you've found the "beta" site and clicked the link in the red banner at the top of the page.  That banner indicates that you're looking at a testing or incomplete version of the site.</p>

    <p>At any given time, the beta site may be identical to <a href="https://modding-openmw.com/">the "released" site</a>, or it may contain any number of changes that I'm working on.  Some things might stay, some things might go.  So while it might have the most bleeding-edge content, it's also not guaranteed to be definitive or as well-tested.</p>

    <p>Please click <a href="https://modding-openmw.com/">here</a> to go to the "released" version of the site.</p>
  </div>
{% endblock %}
