{% extends 'base.html' %}
{% block title %}Tips: Navmeshtool{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Navmeshtool</span></h3>

  {% include "tips-nav.html" with cur_page="tips-navmeshtool" %}

  <p>
    The <a href="{% url 'mod_detail' slug='generate-a-navmesh-cache' %}">Navmeshtool</a> program comes with OpenMW and can be used to pregenerate navmeshes, thus avoiding loading pauses in game that might have been caused by doing that on the fly. It's an easy, convenient way to eliminate one category of stuttering (while continuing to enjoy the benefits of what caused it: dynamically generated navigation meshes).
  </p>

  <p>
    The easiest way to use it is via OpenMW-Launcher:
  </p>

  <ol>
    <li>Ensure your load order is fully setup and correct</li>
    <li>Run OpenMW-Launcher</li>
    <li>Click the "Data Files" icon at the top</li>
    <li>Click the "Navigation Mesh Cache" tab</li>
    <li>Click the button labeled "Update"</li>
  </ol>

  <div class="center" style="margin-bottom: 30px;">
    <img class="pic" src="/images/launcher-navmesh.png" />
    {# <figcaption>Using OpenMW-Launcher to generate a navmesh cache.</figcaption> #}
  </div>

    <p>
    This can also be done via the command line with the <code>openmw-navmeshtool</code> or <code>openmw-navmeshtool.exe</code> binary.
  </p>

  <p>
    Please note that for a large setup such as Total Overhaul this will take a long time. Depending on how powerful your CPU is, it could take close to an hour or more. But the payoff is worth it, you should be rid of virtually all "generating navigation mesh" pauses ingame.
  </p>

  {% include "tips-nav.html" with cur_page="tips-navmeshtool" %}

  {% include "main-nav.html" with cur_page="tips-navmeshtool" prev_link=False next_link=False %}

{% endblock %}
